@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

/* UTILIDADES  */
.content {
    margin: 120px auto;
    max-width: 1200px;

}

.header {
    background-image: url('../images/bg-header-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__conteiner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header__figure {
    margin-top: 120px;
}

.header__figure img {
    width: 120px;
}

.text {
    padding: 0 2rem;
    max-width: 1200px;
}

.text h2 {
    font-size: 2rem;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
    font-weight: 600;
}

.text p {
    max-width: 750px;
    font-size: 18px;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 25px;
}

.header__btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    gap: 25px;
}

.button {
    display: inline-block;
    width: 240px;
    border: none;
    padding: 1rem 0;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    background-color: var(--Strong-Cyan);
    font-weight: 400;
    box-shadow: 0px 9px 16px -7px var(--Strong-Cyan);
}

.button-morado {
    background-color: var(--Light-Blue);
    box-shadow: 0px 9px 16px -7px var(--Light-Blue);
}


/* SNIPPETS  */

.snippets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* SECTION CONTENT PANTALLA  */

.section__contect {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.figure {
    width: 85%;
    max-width: 500px;
}

.img {
    width: 100%;
}

.text-1 {
    padding: 0 1.5rem;
    max-width: 500px;
    text-align: center;

}

.section-h {
    font-size: 25px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 1rem;
}

.section-p {
    font-size: 18px;
    font-weight: 400;
    color: var(--Grayish-Blue);
}


.section-2__contect {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 4.5rem;
}

.section-2__contect .figure {
    width: 100%;
    max-width: 1200px;
}


.category__content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 1rem;
}
.category-1{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
}

.category-1 .category-1__figure {
    height: 70px;
}
.category-1__figure img {
    padding: .8rem 0;
}

.category-text {
    
    max-width: 360px;
    height: 117px;
    padding: 0 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.category-text h2 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.category-text p {
    font-size: 18px;
    color: var(--Grayish-Blue);
}

/* GALLERY */

.gallery__content {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding: 1rem;
}

.figure--gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 60%;
    height: 120px;
    
    
    /* width: 60%; */
    

    
}
.figure--gallery img {
    padding: 1rem;
}

.descargas--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;

}

.text .title {
    font-size: 30px;
}


/* FOOTER  */
.footer {
    background-color: #f5f6f6;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.footer-content span {
    font-size: 18px;
    color: var(--Dark-Grayish-Blue);
}

.footer img {
    margin-top: 25px;
    width: 60px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 25px;
}

.footer-content i {
    font-size: 25px;

}

@media (min-width:780px) {
    .text h2 {
        font-size: 45px;
    }

    .text p {
        font-size: 21px;
    }

    .header__btn {
        flex-direction: row;
    }


    /* BUTTON  */


    
    .button {
        display: inline-block;
        width: 250px;
        border: none;
        padding: 1rem 0;
        color: #e2e2e2;
        font-size: 18px;
        border-radius: 25px;
        background-color: var(--Strong-Cyan);
        font-weight: 400;
        box-shadow: 0px 9px 16px -7px var(--Strong-Cyan);
    }
    
    .button-morado {
        background-color: var(--Light-Blue);
        box-shadow: 0px 9px 16px -7px var(--Light-Blue);
    }
    


    /* ---------------------------------  */
    .snippets__content .text .title--1 {
        font-size: 36px;
    }

    .snippets__content .text p {
        line-height: 30px;
    }

    .section__contect {
        position: relative;
        flex-direction: row;
        justify-content: space-aroun;
    }

    .section__contect .figure {
        width: 70%;
        position: relative;
        top: 0;
        bottom: 0;
        right: 250px;
    }

    .section__contect .figure img {
        width: 730px;
    }

    .section-text {
        width: 30%;
    }

    .text-1 {
        text-align: left;
    }

    .text-1 .section-p {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }

    .section-2__contect .text .title--1 {
        font-size: 36px;
    }

    .section-2__contect .figure {
        width: 70%;
    }

    .section-2__contect {
        flex-direction: column;
    }
    
    
    
    /* galerry  */

    .gallery__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }
    
    .figure--gallery{
        width: 15%;
    
        
    }
    .figure--gallery img {
        width: 100%;
        padding: 1rem;
    }

    /* Categorias */


    /* FOOTER  */

    .footer-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 30px);
        padding: 2rem 5rem;
        text-align: left;
        gap: 0;
    }

    .footer-content img {
        margin: auto;
        grid-column: 1;
        grid-row: 1;
    }

    .footer-content .span-1 {

        grid-column: 2;
        grid-row: 1;
    }

    .footer-content .span-2 {
        grid-column: 2;
        grid-row: 2;
    }

    .footer-content .span-3 {
        grid-column: 3;
        grid-row: 1;
    }

    .footer-content .span-4 {
        grid-column: 3;
        grid-row: 2;
    }

    .footer-content .footer__social {
        grid-column: 6;
        grid-row: -2;
    }

    .footer__social {
        gap: 0;
        justify-content: space-around;
    }


}